@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

@keyframes jump-shaking {
  0%   { transform: translateX(0) }
  25%  { transform: translateY(-9px) }
  35%  { transform: translateY(-9px) rotate(15deg) }
  55%  { transform: translateY(-9px) rotate(-15deg) }
  65%  { transform: translateY(-9px) rotate(15deg) }
  75%  { transform: translateY(-9px) rotate(-15deg) }
  100% { transform: translateY(0) rotate(0) }
}

@keyframes wobble {
  25%  { transform: rotate(15deg); }
  50%  { transform: rotate(-30deg); }
  75%  { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: default;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

#app {
  $pageBg: #ffee99;

  height: 100%;
  background-color: $pageBg;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s linear;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;

  &.red {
    background-color: #ff2222;
  }

  &.green {
    background-color: #33ff66;
  }

  #toggle-music {
    position: absolute;
    top: 20px;
    right: 20px;

    svg {
      width: 92px;
      height: 92px;
    }
  }

  #msg {
    padding: 0 50px;
    background-color: #33ff66;
    text-transform: uppercase;
    font-size: 12rem;
    animation: jump-shaking 10s infinite;
    cursor: pointer;
  }

  #word {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .letter {
      padding: 0 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      display: flex;
      color: rgba(255,255,255,0.3);
      text-transform: uppercase;
      font-size: 14rem;

      &[wobble='1'] {
        animation: wobble 0.5s 1;
      }

      &[data-done=true] {
        color: rgba(0,0,0,0.9);
      }

      &[data-focused=true] {
        color: #ff3344;
        background-color: rgba(255,255,255,0.3);
        animation: jump-shaking 2.5s infinite;

        & > div {
          /*border-top: 10px solid transparent;*/
          /*border-bottom: 10px solid #ff3344;*/
        }
      }

      input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
        background: none;
        outline: none;
        position: absolute;
        text-align: center;
        font-size: 3rem;
        caret-color: transparent;
      }
    }
  }
}
